# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
jsconfig.json*

# testing
/tests/petTests.spec.ts-snapshots

# production
/build
/.vscode

npm-debug.log*

#reports
allure-report
allure-results
videos
test-results
*.zip

.idea